<body>
    
<h1>Welcome to a Test Email <%= @user.name %> </h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea corporis labore ab itaque commodi! Adipisci iure ipsa placea
t ex dolore quo ut sit ipsum neque quisquam alias hic saepe expedita officia nesciunt blanditiis ipsam, quaerat accusamus na
m exercitationem. Sit illo at ex. Laudantium recusandae beatae ex, officia placeat consectetur eligendi. Nostrum excepturi dolo
re eaque a distinctio sit, saepe quas non! SENT FROM <%= @user.login %>  </p>

</body>





